<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test name="BGG_Testing">
        <classes>
            <class name="com.boardgamegeek.tests.LogInTest">
                <methods>
                    <include name="logInTest2"/>
                </methods>
                <parameter name="username" value="hxHWIJDg" />
                <parameter name="password" value="GkBw8IAF" />
            </class>
        </classes>
    </test>
</suite>